**/node_modules
.DS_Store
.ligo/
_esy/
/compiled
**/compiled
/deploy/metadata.json
/deploy/deploy.js
**/.env
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
